Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [1]:
a=50
b=10.4
c="Hello"
print("The data type of 50 is ", type(a))
print("The data type of 10.4 is ", type(b))
print("The data type of \"Hello\" is ", type(c))

The data type of 50 is  <class 'int'>
The data type of 10.4 is  <class 'float'>
The data type of "Hello" is  <class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [4]:
String_1="My Name is Adam"
if String_1.islower():
    print("The string is in lower case")
else:
    print("The string is in upper case")

The string is in upper case

Q3.What is the length of the given string?

String- "My Name is Adam"

In [5]:
print(len(String_1))

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [6]:
list_1 =  [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]
sum=0
for i in list_1:
    sum=sum+i
print("The sum of all elements in the list is",sum)

The sum of all elements in the list is 91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [7]:
i=2
while i <=12:
    print(i)
    i=i+2

2
4
6
8
10
12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [2]:
i=2
while i <=12:
    if i in range(2,14,2):
        print(i)
        i=i+2

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [3]:
x=50
y=30
z=40
if(x<y):
    if(x<z):
        print('x is the mininmum of the given numbers')
elif(y<z):
    print('y is the minimum of the given nummbers')
else:
    print('z is the minimum of the given numbers')

y is the minimum of the given nummbers

In [7]:
print (7%2)

1