In [8]:
type(True)
type(False)
type("Hello World")
type(9.0)

float

In [9]:
type("Hello World")

str

In [10]:
type(False)

bool

In [11]:
type(5.6)

float

In [14]:
a=8
b=2.5
c=a/b
d=a/2
print(c)
print(type(c))
print(type(d))

3.2
<class 'float'>
<class 'float'>

In [15]:
simple_list=['Dan',2,4,'Ryan',5.67,'Python']
print(simple_list)

['Dan', 2, 4, 'Ryan', 5.67, 'Python']

In [17]:
print(simple_list[0])
print(simple_list[1])
print(simple_list[-1])
print(simple_list[-2])

print(len(simple_list))

Dan
2
Python
5.67
6

In [18]:
simple_list[2]=52
print(simple_list)

['Dan', 2, 52, 'Ryan', 5.67, 'Python']

In [22]:
simple_list.pop(3)
print(len(simple_list))
print(simple_list)

3
['Dan', 2, 52]

In [24]:
simple_list.append('to the back')
print(simple_list)

['Dan', 2, 52, 'to the back', 'to the back']

In [25]:
repeated_list=[6]*5
print(repeated_list)

[6, 6, 6, 6, 6]

In [29]:
repeated_list[1]=[1,2,3]
print(repeated_list)
print(repeated_list[1][1])
print(repeated_list[1])

[6, [1, 2, 3], 6, 6, 6]
2
[1, 2, 3]

In [32]:
list1=[10,20,30,'Dan']
list2=list1
list1[3]=40
print(list1)
print(list2)
list2[3]=60
print(list1)
print(list2)

[10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 60]
[10, 20, 30, 60]

In [33]:
list3=[9,8,7,6,5]
list4=list3.copy()
list4[1]='Dan'
print (list4)
print(list3)

[9, 'Dan', 7, 6, 5]
[9, 8, 7, 6, 5]

In [39]:
simple_tuple = ('2','5','6','Dan')

print(list4)

[9, 'Dan', 7, 6, 5]

In [40]:
list_dummy=list(simple_tuple)
list_dummy[3]='7'
simple_tuple=tuple(list_dummy)
print (simple_tuple)

('2', '5', '6', '7')

In [42]:
set_1={'Dan',-2,5,-3,'Water'}
print (set_1)

{5, 'Water', 'Dan', -3, -2}

In [64]:
set_1.add('Soil')
print(set_1)
# print(set_1[0])

{5, 'Dan', 'Soil', -3, -2}

In [44]:
print('Water' in set_1)

True

In [46]:
set_1.remove('Water')
print('Water' in set_1)

False

In [48]:
dict_1 = {"a":"Apple", "b":"Ball"}
print (dict_1)

{'a': 'Apple', 'b': 'Ball'}

In [50]:
dict_1["a"]="Ant"
print (dict_1)

{'a': 'Ant', 'b': 'Ball', 8: 'Ant'}

In [51]:
dict_1['d']="Doll"
print (dict_1)

{'a': 'Ant', 'b': 'Ball', 8: 'Ant', 'd': 'Doll'}

In [58]:
list_1=[3,5,7,9,11,14,'Dan']
print(list_1[2:5])

[7, 9, 11]

In [62]:
print(list_1[-5:-1])

[7, 9, 11, 14]